<h1>Display User Information</h1>
<p>This page will display your first and last name, a link to your Google account, and the state variable used in the initial request.</p>
<p>First name: {{first_name}}</p>
<p>Last name: {{last_name}}</p>
<p>Link to Google Plus account:<a href={{url}} target="_blank"> {{url}}</a></p>
<p>Value of the state variable: {{state}}</p>